---
import Cards from '../components/Cards.astro';
import Layout from '../layouts/Base.astro';
import { getOffres } from '../js/backend.mjs';

const offres = await getOffres();
---

<Layout titre="offres">
    <div class="flex justify-center text-4xl mt-10">
        <h1 class="font-bold uppercase text-purple-400">Nos offres</h1>
    </div>
    <div x-data="{ showFavorites: false }">
    
        <div x-show="showFavorites" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-10 mt-10">
            {offres.map((item) => <Cards {...item} />)}
        </div>
        <div x-show="!showFavorites" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-10 mt-10">
            {offres.map((item) => item.favori && <Cards {...item} />)}
        </div>
        <div class="flex justify-center">
            <button @click="showFavorites = !showFavorites" class="mb-4 p-2 bg-purple-400 text-white rounded mt-5">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>    
            </button> 
        </button>
    </div>

</Layout>