---
import type { ACTION_ERROR_CODES } from 'astro:actions';
import Cards from '../components/Cards.astro';
import Layout from '../layouts/Base.astro';
const offres = [
    {
        "adresse": "2821 Lake Sevilla, Palm Harbor, TX",
        "favori": true,
        "id": "64l3n8nar836i5j",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Beverly Springfield",
        "prix": 2700,
        "surface": 45,
        "imgUrl": "image1.png"
    },
    {
        "adresse": "2699 Green Valley, Highland Lake",
        "favori": true,
        "id": "lo831zeg10hpm9y",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Palm Harbor",
        "prix": 2095,
        "surface": 42,
        "imgUrl": "image2.png"
    },
    {
        "adresse": "909 Woodland St, Michigan, IN",
        "favori": false,
        "id": "s1zuhj19x8eb242",
        "nbChambres": 4,
        "nbSdb": 3,
        "nomMaison": "Faulkner Ave",
        "prix": 4550,
        "surface": 80,
        "imgUrl": "image3.png"
    }
]
---

<Layout titre="offres">
    <div class="flex justify-center text-4xl mt-10">
        <h1 class="font-bold uppercase text-purple-400">Nos offres</h1>
    </div>
    <div x-data="{ showFavorites: false }">
        <button @click="showFavorites = !showFavorites">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>    
        </button>
    
        <div x-show="showFavorites">
            {offres.map((item) => <Cards {...item} />)}
        </div>
        <div x-show="!showFavorites">
            {offres.map((item) => item.favori && <Cards {...item} />)}
        </div>
    </div>

</Layout>