---

---

<div class="footer mt-20 bg-yellow-100">
    <div class="ml-20 footer__top">
        <div class="footer__brand">
            <a href="/" class="font-bold uppercase text-purple-400">geetix station</a>
        </div>
        <div class="column">
            <div class="sub__column">
                <p class="column__title text-purple-400">vendre une maison</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Demander une offre</a>
                    <a class="column__link" href="#">Tarification</a>
                    <a class="column__link" href="#">Avis</a>
                    <a class="column__link" href="#">Histoires</a>
                </div>
                
            </div>
            <div class="sub__column pt-10">
                <p class="column__title text-purple-400">acheter une maison</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Acheter</a>
                    <a class="column__link" href="#">Financer</a>
                </div>
                
            </div>
            
        </div>
        <div class="column">
            <div class="sub__column">
                <p class="column__title text-purple-400">Acheter, louer et vendre</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Acheter et vendre des propriétés</a>
                    <a class="column__link" href="#">Louer une maison</a>
                    <a class="column__link" href="#">Échange de constructeur</a>
                </div>
                
            </div>
            <div class="sub__column pt-10">
                <p class="column__title text-purple-400">Conditions & confidentialité</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Confiance & Sécurité</a>
                    <a class="column__link" href="#">Conditions d'utilisation</a>
                    <a class="column__link" href="#">Politique de confidentialité</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="sub__column">
                <p class="column__title text-purple-400">À propos</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Entreprise</a>
                    <a class="column__link" href="#">Comment ça marche</a>
                    <a class="column__link" href="#">Contact</a>
                    <a class="column__link" href="#">Investisseurs</a>
                </div>
                
            </div>
            <div class="sub__column pt-10">
                <p class="column__title text-purple-400">Ressources</p>
                <div class="sub__links">
                    <a class="column__link" href="#">Blog</a>
                    <a class="column__link" href="#">Guide</a>
                    <a class="column__link" href="#">FAQ</a>
                    <a class="column__link" href="#">Centre d'aide</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-20 footer__bot">
        <div class="bot__left">
            <p class="left__mention">@2021 Estatery. Tous droits réservés</p>
        </div>
    </div>
</div>

<style>
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
    }

    .footer__top{
        width: 75%;
        display: flex;
        justify-content: space-between;
    }
    .column__title{
        text-transform: uppercase;
        font-weight: 700;
    }
    .column__link{
        color: grey;
        text-decoration: none;
    }
    .sub__links{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer__bot{
        margin-top: 100px;
        color: grey;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
</style>